authoritative;
option domain-name "{{ domain }}";
default-lease-time 600;
max-lease-time 1800;
ddns-update-style none;

next-server {{ hostvars[pxe.srv].ansible_ssh_host }};

option architecture code 93 = unsigned integer 16;
if option architecture = 00:07 {
  filename "bootx64.efi";
} elsif option architecture = 00:09 {
  filename "bootx64.efi";
} else {
  filename "pxelinux.0";
}
 
subnet {{ net.net }} netmask {{ net.mask }} {
  range {{ pxe.dhcp[0] }} {{ pxe.dhcp[1] }};
  option routers {{ net.gateway }};
  option domain-name-servers {{ net.bind }};
  option subnet-mask {{ net.mask }};
}
