global
    log /dev/log daemon
    chroot      /var/lib/haproxy
    pidfile     /run/haproxy.pid
    maxconn     4000
    user        _haproxy
    group       _haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 2
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    timeout http-keep-alive 10s
    timeout check           5s
    maxconn                 3000

frontend apiserver
    bind {{ k8s.keepalived_IP }}:{{ k8s.haproxy_port}}
    mode tcp
    option tcplog
    default_backend apiserver

backend apiserver
    mode tcp
    balance roundrobin
{% for item in k8s.masters %}
      server {{ item }} {{ hostvars[item].ansible_ssh_host }}:6443 check
{% endfor %}

listen stats
    bind *:9000
    stats enable
    stats uri /
    stats refresh 10s
    stats realm Haproxy\ Statistics
#   stats auth {{ ansible_ssh_user }}:{{ ansible_ssh_pass }}
