logfile /var/log/ntp
driftfile /var/lib/ntp/ntp.drift

server 127.127.1.0
server {{ ntp.ntp_out }} prefer
fudge 127.127.1.0 stratum 10

restrict 127.127.1.0 mask 255.255.255.255
restrict {{ net.net }} mask {{ net.mask }}
#restrict {{ mgmt.net }} mask {{ mgmt.mask }}
