{% for interface in interfaces %}
auto {{ interface }}
iface {{ interface }} inet manual
    bond-master bond0
    bond-primary {{ interfaces[0] }}
    bond-mode active-backup

{% endfor %}

auto bond0
iface bond0 inet static
    address {{ ansible_ssh_host }}
    netmask {{ net.mask }}
    gateway {{ net.gateway }}
    bond-primary {{ interfaces[0] }}
    bond-slaves none
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 200
    bond-updelay 150
    dns-domain {{ domain }}
    dns-nameserver {{ net.bind }}
    dns-search {{ domain }}
    resend_igmp 2


#auto bond0.{{ net.vlan }}
#iface bond0.{{ net.vlan }} inet static
#    address {{ ansible_ssh_host }}
#    netmask {{ net.mask }}