authoritative;
option domain-name "{{ domain }}";
default-lease-time 600;
max-lease-time 7200;
ddns-update-style none;
log-facility local7;
option domain-name-servers {{ net.bind }};
allow booting;
allow bootp;
option fqdn.no-client-update on;
option fqdn.rcode2 255;
option pxegrub code 150 = text ;

next-server {{ hostvars[pxe.srv].ansible_ssh_host }};

option architecture code 93 = unsigned integer 16;
if option architecture = 00:07 {
  filename "bootx64.efi";
} elsif option architecture = 00:09 {
  filename "bootx64.efi";
} else {
  filename "pxelinux.0";
}

subnet {{ net.network }} netmask {{ net.netmask }} {
  range {{ net.network.split(".")[0] }}.{{ net.network.split(".")[1] }}.{{ net.network.split(".")[2] }}.{{ pxe.dhcp[0] }} {{ net.network.split(".")[0] }}.{{ net.network.split(".")[1] }}.{{ net.network.split(".")[2] }}.{{ pxe.dhcp[1] }};
  option routers {{ net.gateway }};
  option domain-name-servers {{ net.bind }};
  option subnet-mask {{ net.netmask }};
}
