//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
{% set hostname = ansible_facts['hostname'] %}

zone "{{ net_local_domain }}" IN {
        {% if hostname == "master01" %}
type master;
        file "/etc/bind/db.{{ net_local_domain }}";
        allow-update { none; };
        {% else %}
masterfile-format text;
        masters { {{ net_adress_master01 }}; };
type slave;
file "/etc/bind/db.{{ net_local_domain }}";
        {% endif %}
};
