# Создано с помощью Ansible сценария
confdir /etc/chrony/conf.d
local stratum 8
server {{ hostvars[ntp.srv].ansible_ssh_host }} iburst
sourcedir /run/chrony-dhcp
sourcedir /etc/chrony/sources.d
keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
ntsdumpdir /var/lib/chrony
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1 3