TYPE=bond
ONBOOT=yes
DISABLED=no
NM_CONTROLLED=no
CONFIG_WIRELESS=no
CONFIG_IPV4=yes
CONFIG_IPV6=no
BOOTPROTO=static
HOST="{{ interfaces | join(' ') }}"
BONDMODE=6
BONDOPTIONS=" "
SYSTEMD_BOOTPROTO=static
SYSTEMD_CONTROLLED=no