#!/bin/bash

ipa user-del {{ armabi.user }}
ipa user-add {{ armabi.user }} --first DB_ARMABI --last Administrator --password-expiration=20250101010101Z --password<<-EOF
{{ armabi.pass }}
{{ armabi.pass }}
EOF
