global_defs {
  script_user root
  }
vrrp_instance ARMABI {
  state SLAVE
  interface bond0
  virtual_router_id 206
  priority 1
  advert_int 1
  virtual_ipaddress {
    {{ armabi.ip }}/24 dev bond0 label bond0:206
  }
}