auto {{ net_bond0_name }}
iface {{ net_bond0_name }} inet static
{% set hostname = ansible_facts['hostname'] %}
{% if hostname == "master01" %}
address {{ net_adress_master01 }}/{{ net_bond0_mask }}
{% elif hostname == "master02" %} 
address {{ net_adress_master02 }}/{{ net_bond0_mask }}
{% elif hostname == "master03" %} 
address {{ net_adress_master03 }}/{{ net_bond0_mask }}
{% elif hostname == "worker01" %} 
address {{ net_adress_worker01 }}/{{ net_bond0_mask }}
{% elif hostname == "worker02" %}
address {{ net_adress_worker02 }}/{{ net_bond0_mask }}
{% elif hostname == "worker03" %}
address {{ net_adress_worker03 }}/{{ net_bond0_mask }}
{% endif %}
gateway {{ net_gw }}
dns-nameservers {{ net_dns_server }}
dns-search {{ net_local_domain }}
bond-mode active-backup
bond-primary {{ net_bond0_slave[0] }}
bond-miimon 100
bond-downdelay 200
bond-updelay 150
bond-slaves {{ net_bond0_slave[0] }} {{ net_bond0_slave[1] }} {{ net_bond0_slave[2] }}

