#!/bin/sh
### Переменные ###
ZABBIX_SERVER_IP="{{ zabbix_ip }}"
ZABBIX_SENDER="$(which zabbix_sender)"
HOSTNAME=$(hostname)
HOST_IP="127.0.0.1"
PG_USER="postgres"
PG_GROUP="postgres"
PG_BASE="{{ item.1 }}"
PG_RESTORE="$(which pg_restore)"
DATE=$(date '+%Y-%m-%d')
BACKUP_DIR="/var/lib/postgresql/9.6/main/pd_restore/{{ item.1 }}"
LOG_FILE="$BACKUP_DIR/Backup-$HOSTNAME-$PG_BASE-$DATE.log"
CMD_RM="$(which rm)"
CMD_INSTALL="$(which install)"
CMD_CHMOD="$(which chmod)"

### Выставить рекурсивно права на корневую директорию резервных копий.
"$CMD_CHMOD" -R 777 "${BACKUP_DIR:?}"/*

### Создание лог файла ###
{
echo "### Резервное копирование запущено - $DATE ###"
echo ""
} >> "$LOG_FILE"

### Запуск процесса восстановления ###

pwd
"$PG_RESTORE" -c -d "$PG_BASE" -h "$HOST_IP" -U "$PG_USER" "$BACKUP_DIR/$PG_BASE.dump" 2>&1
PG_RESTORE_STATUS=$?

### Отправка кода возврата на сервер мониторинга ###
### "$ZABBIX_SENDER" -z "$ZABBIX_SERVER_IP" -s "$HOSTNAME" -k pg_basebackup-postgresql-status -o "$PG_RESTORE_STATUS"

### Записать данные о статусе восстановления в лог файл ###
if [ "$PG_RESTORE_STATUS" -eq "0" ]; then
{
echo  ""
echo  "### Восстановление завершено успешно! Код возврата [EXITCODE=$PG_RESTORE_STATUS] - $DATE ###"
} >> "$LOG_FILE"
else
{
echo  ""
echo  "### Восстановление завершено с ошибкой! Код возврата [EXITCODE=$PG_RESTORE_STATUS] - $DATE ###"
} >> "$LOG_FILE"
fi

### Очистка корневой директории резервной копии ###
### "$CMD_RM" -rf "${BACKUP_DIR:?}"/*
