#!/bin/bash

result=$( kubeadm certs check-expiration | grep 'scheduler.conf'  | awk '{print $7}' | sed 's/.$//' )
if (( result > 7 )); then
    echo "Время жизни сертификатов ($result) больше 7 дней. Скрипт не выполняем."
    exit 0
fi

echo Резервное копирование старых сертификатов
mkdir /tmp/k8s-backup
cp /etc/kubernetes/*.conf /tmp/k8s-backup
cp -r /etc/kubernetes/pki /tmp/k8s-backup

echo Обновм наши сертификаты
kubeadm certs renew all
echo Сертификаты продлены
cp /etc/kubernetes/admin.conf /home/user/.kube/config
cp /etc/kubernetes/admin.conf /home/admin1/.kube/config

echo ---
echo Перезапуск API Server Pod
echo Переместить манифест во временную папку
mv /etc/kubernetes/manifests/kube-apiserver.yaml /tmp
sleep 30
echo Переместим манифест обратно из временной папки в исходное место
mv /tmp/kube-apiserver.yaml /etc/kubernetes/manifests
sleep 30

echo ---
echo Перезапуск модуля Controller Manager
echo Переместим манифест во временную папку
mv /etc/kubernetes/manifests/kube-controller-manager.yaml /tmp
sleep 30
echo Переместим манифест обратно из временной папки в исходное место
mv /tmp/kube-controller-manager.yaml /etc/kubernetes/manifests
sleep 30

echo ---
echo Перезапуск планировщика Pod
echo Переместим манифест во временную папку
mv /etc/kubernetes/manifests/kube-scheduler.yaml /tmp
sleep 30
echo Переместим манифест обратно из временной папки в исходное место
mv /tmp/kube-scheduler.yaml /etc/kubernetes/manifests
sleep 30

echo ---
echo Перезапустим модуль etcd
echo Переместим манифест во временную папку
mv /etc/kubernetes/manifests/etcd.yaml /tmp
sleep 90
echo Переместим манифест обратно из временной папки в исходное место
mv /tmp/etcd.yaml /etc/kubernetes/manifests

echo ---
kubeadm certs check-expiration
echo Готово!
