# Вы принимаете условия пользовательской лицензии?
termidesk-vdi termidesk-vdi/yesno-eula boolean true

# true - интерактивный режим. false - пакетный (тихий) режим:
termidesk-vdi termidesk-vdi/interactive boolean false

# ПАРАМЕТРЫ ПОДКЛЮЧЕНИЯ К СУБД
# Адрес сервера СУБД Termidesk:
termidesk-vdi termidesk-vdi/dbhost string 127.0.0.1
# Добавлено в версии 4.1.1. Порт сервера (балансировщика) СУБД Termidesk:
termidesk-vdi termidesk-vdi/dbport string 5432
# Имя базы данных Termidesk:
termidesk-vdi termidesk-vdi/dbname string termidesk
# Пользователь базы данных Termidesk:
termidesk-vdi termidesk-vdi/dbuser string termidesk
# Пароль базы данных Termidesk:
termidesk-vdi termidesk-vdi/dbpass string {{ termidesk.pass }}
# Добавлено в версии 4.3. Использование защищённого подключения к СУБД.
# Возможные варианты значений: Disable, TLSv1.2, TLSv1.3
# Значение по умолчанию: Disable
termidesk-vdi termidesk-vdi/dbssl select Disable

# ПАРАМЕТРЫ ПОДКЛЮЧЕНИЯ К СЕРВЕРАМ RABBITMQ
# RabbitMQ URL #1
termidesk-vdi termidesk-vdi/rabbitmq_url1 password amqp://termidesk:{{ termidesk.pass }}@127.0.0.1:5672/termidesk
# RabbitMQ URL #3
termidesk-vdi termidesk-vdi/rabbitmq_url3 password
# RabbitMQ URL #2
termidesk-vdi termidesk-vdi/rabbitmq_url2 password
# Добавлено в версии 4.3.1. Использование защищённого подключения к серверам RabbitMQ
# Возможные варианты значений: Disable, TLSv1.2
# Значение по умолчанию: Disable
termidesk-vdi termidesk-vdi/rabbitmq_ssl select Disable

# Добавлено в версии 4.1. Выбор устанавливаемых на узле ролей.
# Список, разделитель - запятые. Фактически, это выбор служб, которые будут
# автоматически запускаться. Доступные роли: Broker, Gateway, Task manager
# Если не требуется автоматический запуск служб (например, при использовании
# VRRP), то в качестве роли можно указать несуществующее название роли,
termidesk-vdi termidesk-vdi/roles string Broker, Gateway, Task manager

# Добавлено в версии 4.2.
# Тип веб-интерфейса. Имеет смысл при запуске демона termidesk-vdi (Выбор роли Broker при установке пакета).
# admin - доступен только функционал администрирования,
# user - доступен только пользовательский функционал,
# universal - доступен как пользовательский, так и административный функционал.
# По умолчанию, используется режим universal
termidesk-vdi termidesk-vdi/webportaltype select universal

# НЕ ТРЕБУЮЩИЕСЯ ПЕРЕМЕННЫЕ, сугубо для справки
# Временные переменные для промежуточного хранения параметров подключения
# к серверу RabbitMQ, из которых создаются строки termidesk-vdi/rabbitmq_url1,
# termidesk-vdi/rabbitmq_url2, termidesk-vdi/rabbitmq_url3
# Choices: 1 amqp://termidesk:termidesk@127.0.0.1:5672/termidesk, 2 Empty, 3 Empty, Save
termidesk-vdi termidesk-vdi/rabbitmq_select select Save

# Termidesk RabbitMQ host
termidesk-vdi termidesk-vdi/rabbitmq_host string 127.0.0.1
# Termidesk RabbitMQ port
termidesk-vdi termidesk-vdi/rabbitmq_port string 5672
# Termidesk RabbitMQ user
termidesk-vdi termidesk-vdi/rabbitmq_user string termidesk
# Termidesk RabbitMQ pass
termidesk-vdi termidesk-vdi/rabbitmq_pass string termidesk
# Termidesk RabbitMQ Virtual Host
termidesk-vdi termidesk-vdi/rabbitmq_vhost string termidesk

# Временная переменная для промежуточного хранения выбора да/нет
termidesk-vdi termidesk-vdi/yesno boolean false
# Временная переменная для отображения сообщения на экране
termidesk-vdi termidesk-vdi/message note
# Временная переменная для отображения пользовательской лицензии
termidesk-vdi termidesk-vdi/text-eula note