EULA_ACCEPTED=1
PP_ACCEPTED=1
KLSRV_UNATT_SERVERADDRESS={{ hostvars[kav.srv].ansible_ssh_host }}
KLSRV_UNATT_PORT_SRV=14000
KLSRV_UNATT_PORT_SRV_SSL=13000
KLSRV_UNATT_PORT_KLOAPI=13299
KLSRV_UNATT_PORT_GUI=13291
KLSRV_UNATT_NETRANGETYPE=1
KLSRV_UNATT_DBMS_TYPE=postgres
KLSRV_UNATT_DBMS_INSTANCE={{ hostvars[kav.db.srv].ansible_ssh_host }}
KLSRV_UNATT_DBMS_PORT=5432
KLSRV_UNATT_DB_NAME={{ kav.db.name }}
KLSRV_UNATT_DBMS_LOGIN={{ kav.db.user }}
KLSRV_UNATT_DBMS_PASSWORD={{ kav.db.pass }}
KLSRV_UNATT_KLADMINSGROUP={{ kav.admin.group }}
KLSRV_UNATT_KLSRVUSER={{ kav.admin.user }}
KLSRV_UNATT_KLSVCUSER={{ kav.admin.user }}