{% set hostname = ansible_facts['hostname'] %}

vrrp_instance VI_1 {
    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ keepalived_router_id }}
    {% if hostname == "worker01" %}
    state MASTER
    priority {{ keepalived_priority }}
    {% else %}
    priority {{ keepalived_backup_priority }}
    state BACKUP
    {% endif %}   
    advert_int 1
    {% if keepalived_unicast_mode | default(False) %}
    unicast_src_ip {{ keepalived_unicast_source }}
    unicast_peer {
      {% for peer in keepalived_unicast_peers %}
        {{ peer }}
      {% endfor %}
    }
    {% endif %}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
    {% if keepalived_shared_ip | default(False) %}
      {{ keepalived_shared_ip }} dev {{ keepalived_shared_iface }}
    {% else %}
      {% for ip in keepalived_shared_ips | default([]) %}
          {{ ip }} dev {{ keepalived_shared_iface }}
      {% endfor %}
    {% endif %}
    }
}