#!/bin/sh

# Переменные
BACKUP_DIR="{{ backup.path }}/{{ inventory_hostname }}/PostgreSQL"
DATE=$(date "+%Y-%m-%d %H:%M:%S")
LOG="{{ backup.log }}"

echo "" >> $LOG

# Проверка доступности директорий. Если отсутствует, то создаются с необходимыми правами.
if [ ! -d "$BACKUP_DIR" ]; then
  install -d $BACKUP_DIR
  echo "$DATE [{{ inventory_hostname }}] Создана папка $BACKUP_DIR" >> $LOG
fi
chmod -R 777 $BACKUP_DIR

# Проверяем, запущен ли PostgreSQL
pg_isready -U postgres

# Если PostgreSQL запущен, выполняем команду
if [ $? -eq 0 ]; then
  echo "$DATE [{{ inventory_hostname }}] PostgreSQL запущен, будем выполнять бекап..."  >> $LOG
  # Остановка PostgreSQL
  systemctl stop postgresql
  # Проверка кода возврата
  if [ $? -eq 0 ]; then
    # Если код возврата равен 0 (успех), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Остановка PostgreSQL успешно выполнена." >> $LOG
  else
    # Если код возврата не равен 0 (ошибка), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Ошибка при остановке PostgreSQL." >> $LOG
    # Прерываем выполнение скрипта
    exit 1
  fi
  # Запуск процедуры бекапа
  tar -czvf /tmp/postgresql.tar.gz /var/lib/postgresql/{{ postgresql_version }}/main/base/
  # Проверка кода возврата
  if [ $? -eq 0 ]; then
    # Если код возврата равен 0 (успех), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Резервное копирование успешно завершено." >> $LOG
  else
    # Если код возврата не равен 0 (ошибка), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Ошибка при создании резервной копии данных." >> $LOG
    # Прерываем выполнение скрипта
    exit 1
  fi
  # Запуск PostgreSQL
  systemctl start postgresql
  # Проверка кода возврата
  if [ $? -eq 0 ]; then
    # Если код возврата равен 0 (успех), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Запуск PostgreSQL успешно выполнен." >> $LOG
  else
    # Если код возврата не равен 0 (ошибка), записываем сообщение в лог файл
    echo "$DATE [{{ inventory_hostname }}] Ошибка запуска PostgreSQL." >> $LOG
    # Прерываем выполнение скрипта
    exit 1
  fi
else
  echo "$DATE [{{ inventory_hostname }}] PostgreSQL не запущен. Бекап не выполняем." >> $LOG
fi

# Выставить рекурсивно права на корневую директорию резервных копий
chmod -R 777 $BACKUP_DIR/*

# 'Прокрутка' бекапов
rm $BACKUP_DIR/postgresql.tar.gz.2
mv $BACKUP_DIR/postgresql.tar.gz $BACKUP_DIR/postgresql.tar.gz.2
mv /tmp/postgresql.tar.gz $BACKUP_DIR/postgresql.tar.gz
