defaults {
        user_friendly_names yes
        find_multipaths     yes
        path_selector "round-robin 0"
        path_grouping_policy multibus
}

multipaths {
#  multipath {
#    wwid 3600*********
#    alias shd*****
#  }
}