#!/bin/sh

# Переменные
BACKUP_DIR="{{ backup.path }}/{{ inventory_hostname }}/FreeIPA"
DATE=$(date "+%Y-%m-%d %H:%M:%S")
LOG="/{{ backup.log }}"

# Проверка наличия передачи аргумента (имени бекапа)
if [ -z "$1" ]; then
  # Если его нет, выводим сообщение
  echo "Введите имя архива бекапа FreeIPA"
  # Прерываем выполнение скрипта
  exit 1
fi

# Проверка наличия директории бекапа
if [ ! -d "$BACKUP_DIR" ]; then
  # Если директория не существует, записываем сообщение в лог файл
  echo "$DATE [{{ inventory_hostname }}] Ошибка: Директория '$BACKUP_DIR' не найдена!" >> $LOG
  # Прерываем выполнение скрипта
  exit 1
fi

# Запуск процедуры восстановления
sudo ipa-restore $BACKUP_DIR/$1

# Проверка кода возврата
if [ $? -eq 0 ]; then
  # Если код возврата равен 0 (успех), записываем сообщение в лог файл
  echo "$DATE [{{ inventory_hostname }}] Восстановление FreeIPA успешно завершено." >> $LOG
else
  # Если код возврата не равен 0 (ошибка), записываем сообщение в лог файл
  echo "$DATE [{{ inventory_hostname }}] Ошибка при восстановлении резервной копии FreeIPA." >> $LOG
  exit 1
fi
