apiVersion: kubeadm.k8s.io/v1beta3
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: abcdef.0123456789abcdef
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
kind: InitConfiguration
localAPIEndpoint:
  {% if single_node == true %}
  advertiseAddress: {{ net_address_master01 }}
  {% else %}
  advertiseAddress: {{ keepalived_shared_ip }}
  {% endif %}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
  imagePullPolicy: IfNotPresent
  name: {{ net_master_name_pefix }}1
  taints: null
---
apiServer:
  timeoutForControlPlane: 4m0s
apiVersion: kubeadm.k8s.io/v1beta3
certificatesDir: /etc/kubernetes/pki
clusterName: {{ net_local_domain }}
{% if single_node == true %}
controlPlaneEndpoint: {{ net_address_master01 }}:6443
{% else %}
controlPlaneEndpoint: {{ keepalived_shared_ip }}:6443
{% endif %}
controllerManager: {}
dns: {}
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: {{ kubernetes_registry }}
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetesVersion }}
networking:
  dnsDomain: {{ net_local_domain }}
  podSubnet: {{ kubernetes_pod_subnet }}
  serviceSubnet: {{ kubernetes_service_subnet }}
scheduler: {}
