<?xml version="1.0" encoding="utf-8" ?>
<pam_mount>
    <cifsmount>mount.cifs //%(SERVER)/%(VOLUME) %(MNTPT) -o %(OPTIONS) </cifsmount>
    <volume
        fstype="cifs"
        server="{{ item.srv[0] }}.{{ domain }}"
        path="{{ item.samba.name }}"
        mountpoint="{{ item.samba.mountpoint }}"
        options="user=%(USER),uid=%(USERUID),gid=%(USERGID),cruid=%(USER),nosharesock,vers=1.0,rw,perm,soft,sec=krb5i,file_mode=0770,dir_mode=0770"
    />
</pam_mount>