#!/bin/bash

while ! ping -c 1 {{ item.ip }} > /dev/null; do
    sleep 1
done

ping {{ item.srv[0] }}.{{ domain }} -c 1
ping {{ item.srv[1] }}.{{ domain }} -c 1

R=$(sudo arp -a | grep {{ item.ip }} | sed "s/.*at //" | sed "s/ .*//")
H=$(sudo arp -a  | grep $R | grep {{ domain }} | sed "s/ .*//")
sed -i "s/{{ item.srv[0] }}.{{ domain }}/$H/g" /etc/security/pam_mount.conf.xml
sed -i "s/{{ item.srv[1] }}.{{ domain }}/$H/g" /etc/security/pam_mount.conf.xml