127.0.0.1       localhost.localdomain localhost
{{ net_address_master01 }} master01.{{ net_local_domain }} master01
{{ net_address_master02 }} master02.{{ net_local_domain }} master02 
{{ net_address_master03 }} master03.{{ net_local_domain }} master03
{{ net_address_worker01 }} worker01.{{ net_local_domain }} worker01
{{ net_address_worker02 }} worker02.{{ net_local_domain }} worker02
{{ net_address_worker03 }} worker03.{{ net_local_domain }} worker03
{{ net_address_ceph01 }} cep01.{{ net_local_domain }} ceph01
{{ net_address_ceph02 }} cep02.{{ net_local_domain }} ceph02
{{ net_address_ceph03 }} cep03.{{ net_local_domain }} ceph03
{{ keepalived_shared_ip }} kubernetes.{{ net_local_domain }} kubernetes
{{ registry_address }} registry01.{{ net_local_domain }} registry01