#!/bin/sh
### Переменные ###
IPA_RESTORE="$(which ipa-restore)"
BACKUP_DIR="/var/lib/ipa/backup"
CMD_RM="$(which rm)"

### Запуск процесса резервного копирования ###
cd $BACKUP_DIR && "$IPA_RESTORE" *

### Очистка директорий ###
#"$CMD_RM" -rf "${BACKUP_DIR:?}"/*
