server {
    listen {{ repo.port }};
    server_name {{ repo.srv }}.{{ domain }};
    root /usr/share/nginx/html;

    location / {
      try_files $uri $uri/ /comps.xml;
      index comps.xml;
    }

    location ~ \.xml$ {
      default_type application/xml;
    }

}

