#!/bin/bash

ipa user-del {{ armabi.admin.user }}
ipa user-add {{ armabi.admin.user }} --first ARM-ABI --last Administrator --password-expiration=20250101010101Z --password<<-EOF
{{ armabi.admin.pass }}
{{ armabi.admin.pass }}
EOF
