ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd/default"
ETCD_INITIAL_CLUSTER="{% for item in PostgreSQL.etcd_srv %}{{ item }}=http://{{ hostvars[item].ansible_ssh_host }}:2380,{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="PatroniCluster"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ hostvars[inventory_hostname].ansible_ssh_host }}:2380"
ETCD_LISTEN_PEER_URLS="http://{{ hostvars[inventory_hostname].ansible_ssh_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ hostvars[inventory_hostname].ansible_ssh_host }}:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ hostvars[inventory_hostname].ansible_ssh_host }}:2379"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_HEARTBEAT_INTERVAL="1000"  
